body {
    background-color: #1e1e1e; 
    color: #000;
}
.form-container {
    background-color: #ffffff; 
    color: #111111;
}
.form-label {
    color: #111111;
}
.btn-black {
    background-color: #000000;
    border-color: #000000;
    color: white;
}
.btn-black:hover {
    background-color: #333333;
    border-color: #333333;
    color: white;
}
input[type="file"]::file-selector-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    margin-right: 10px;
    border-radius: 0.3rem;
    cursor: pointer;
}
input[type="file"]::file-selector-button:hover {
    background-color: #0a0a0a;
    color: #ecdfdf;
}